<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maiyajf.loan.manage.loan.model.dao.XwActivityModelDao">
	<sql id="fields">
		sTitle,sMediaImage,dPublishDate,dModifyDate,iDelFlag
	</sql>
	
	<sql id="queryfields">
		id,sTitle,sMediaImage,date_format(dPublishDate, '%Y-%m-%d') dPublishDate,dModifyDate,iDelFlag
	</sql>
	
	<insert id="save" parameterType="XwActivityModelBean">
		insert into xw_staffactivitymodular(
		<include refid="fields" />
		) values
		(#{sTitle},#{sMediaImage},#{dPublishDate},#{dModifyDate},1)
	</insert>
	
	<update id="update" parameterType="XwActivityModelBean">
		update xw_staffactivitymodular
			<trim prefix="set" suffixOverrides=",">
			  <if test="sTitle != null">sTitle = #{sTitle},</if>
			  <if test="sMediaImage != null">sMediaImage = #{sMediaImage},</if>
			  <if test="dPublishDate != null">dPublishDate = #{dPublishDate}</if>
			</trim>
		 WHERE id = #{id}	
	</update>

	<select id="queryModels" parameterType="QueryModelParams"
		resultType="XwActivityModelBean">
		SELECT <include refid="queryfields" /> FROM xw_staffactivitymodular WHERE iDelFlag = 1
		order by dPublishDate desc  LIMIT #{recordStart},#{recordEnd}
	</select>

	<select id="count" parameterType="QueryModelParams" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM xw_staffactivitymodular WHERE iDelFlag = 1
	</select>

	<update id="deleteModel">
		update xw_staffactivitymodular set idelflag = 0,dModifyDate = sysDate() where id = #{id}
	</update>

	<select id="showModelInfo" resultType="XwActivityModelBean">
		select <include refid="queryfields" />
		FROM xw_staffactivitymodular where id = #{id} and
		idelflag = 1
	</select>

	<update id="deleteAll">
			update xw_staffactivitymodular set idelflag = 0,dModifyDate = sysDate() where
		<foreach collection="ids" item="item" index="index" open=""
			close="" separator="or">
			 id = #{item}
		</foreach>
	</update>
</mapper>